:root {
  --main-background: rgba(34, 34, 34, 1);
  --main-text: rgba(255, 255, 255, 1);
  --main-gradient: linear-gradient(to right, #e100ff, #0080ff);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: var(--main-text);
  font-size: 13px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--main-background);
}
#top-line {
  width: 100%;
  height: 8px;
  background-image: var(--main-gradient);
  background-size: 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.9);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}
#link-container {
  width: 100%;
  max-width: 1440px;
  height: 72px;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}
#logo {
  width: 50px;
  height: auto;
  border-radius: 50%;
}
#navbar {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#navbar a {
  font-size: 1.3rem;
  position: relative;
  text-decoration: none;
}
#navbar a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--main-gradient);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#navbar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#navbar a:hover {
  transform: translateY(2px);
  transition: 0.3s ease-in-out;
}

main {
  width: 75%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 80px;
}
#welcome-section {
  width: 100%;
  padding: 20px;
  height: 880px;
  display: flex;
  justify-content: center;
  text-align: flex-start;
  flex-direction: column;
}
h1 {
  font-size: 4rem;
  font-family: "Titan One", cursive;
}
#introduction {
  display: flex;
  height: min-content;
  font-size: 5rem;
  font-family: "Lalezar", cursive;
}
#name {
  width: min-content;
  margin: 0px 8px 0px 8px;
  display: flex;
  font-family: "Lalezar", cursive;
  font-weight: bold;
  justify-content: center;
  font-size: 5rem;
  background-image: var(--main-gradient);
  -webkit-background-clip: text;
  color: transparent;
}
#subtitle {
  font-size: 1.6rem;
  font-family: "Ramabhadra", sans-serif;
  text-align: justify;
  line-height: 1.4;
}

#projects {
  width: 100%;
  padding: 20px;
}
.sub-title {
  font-family: "Titan One", cursive;
  background-image: var(--main-gradient);
  -webkit-background-clip: text;
  color: transparent;
  width: fit-content;
  font-size: 4rem;
  margin-bottom: 10px;
}
#project-subtitle {
  font-size: 1.5rem;
}
#project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  border: 1px solid white;
}
.project {
  padding: 16px;
  width: 30%;
  min-width: 149px;
  max-width: 240px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.5);
  transition: 0.3s ease-in-out;
}
.project:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}
.project-imgcontainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 50%;
  padding: 10px;
}
.project-img {
  display: block;
  border-radius: 4px;
  width: 100%;
  border: 1px solid white;
  height: auto;
  max-height: 110px;
  object-fit: cover;
}
.jslogo {
  max-width: 110px;
}
.project-title {
  color: var(--main-text);
  font-size: 2rem;
  margin-top: 10px;
  line-height: 1.2;
}
.project-subtitle {
  margin-top: 10px;
  margin-bottom: 30px;
}
.flex1 {
  flex: 5;
}
.see-more {
  flex: 1;
  display: flex;
  align-items: flex-end;
}
#social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding-bottom: 10%;
  width: 100%;
  height: 100vh;
}
#social-sub {
  display: flex;
  font-family: "Titan One", cursive;
  font-size: 6rem;
}
#lets {
  font-size: 6rem;
  font-family: "Titan One", cursive;
  margin-right: 15px;
  color: transparent;
  background-image: var(--main-gradient);
  -webkit-background-clip: text;
}

#social-introduction {
  margin-top: 20px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
#social-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.profile-link {
  gap: 5px;
  display: flex;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.profile-link:hover {
  transform: translateY(-5px);
}
.fa-brands {
  font-size: 2rem;
}
.social-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

footer {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 80%;
  height: 70px;
  max-width: 1024px;
  background-color: var(--main-background);
}
#footer-link {
  text-decoration: none;
  color: var(--main-text);
  transition: 0.3s ease-in-out;
}
#footer-link:hover {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  color: transparent;
}

/* media screen break-point */
@media screen and (max-width: 1440px) {
  * {
    font-size: 11px;
  }
}
@media screen and (max-width: 1026px) {
  main {
    width: 100%;
    padding: 50px;
  }
  #navbar{
      width: 50%;
  }
}
@media screen and (max-width: 890px) {
  * {
    font-size: 10px;
  }
  #navbar{
    width: 70%;
}
  main {
    padding: 10px;
  }
  #lets {
    font-size: 5rem;
  }
  #social-sub {
    font-size: 5rem;
  }
}
@media screen and (max-width: 672px) {
  * {
    font-size: 9px;
  }
  main {
    padding: 0;
  }
  #welcome-section {
    padding: 10px;
  }
  h1 {
    font-size: 3rem;
  }
  #introduction {
    font-size: 4rem;
  }
  #name {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 3rem;
  }
}
@media screen and (max-width: 535px) {
  #lets {
    font-size: 4rem;
  }
  #social-sub {
    font-size: 4rem;
  }
}
@media screen and (max-width: 479px) {
  *{
    font-size: 8px;
  }
  #project-container{
    padding: 0;
  }

  h1{
    font-size: 2.5rem;
  }
  #name{
    font-size: 3rem;
  }
  #introduction{
    font-size: 3rem;
  }
  #lets {
    font-size: 3rem;
  }
  #social-sub {
    font-size: 3rem;
  }
  .sub-title {
    font-size: 3rem;
  }
  .jslogo {
    width: 50px;
  }
}
@media screen and (max-width:362px){
  *{
    font-size: 7px;
  }
  #project-container{
    justify-content: center;
  }
}
